.container {
    text-align: center;
    margin: 2rem auto;
    padding: 0 1rem;
    padding-bottom: 4rem;
}

h1 {
    margin-bottom: 3rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 12vw);
    justify-content: center;
    gap: 1rem;
}

.card {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1.5rem;
    border: 1px solid #D0D5DD;
    text-decoration: none;
    color: inherit;
    background: #EEF5FF;
    transition: transform 100ms ease, box-shadow 100ms ease;
}

.card:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.avatar {
    width: 100%;
    height: 10vw;
    object-fit: cover;
    border-radius: 1rem;
}

.name {
    font-weight: 800;
}

.meta {
    font-size: 0.75rem;
    opacity: 0.7;
}

.pager{
    margin-top: 3rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.pager button{
    padding: 0.75rem 1.25rem;
    border-radius: 0.5rem;
    border: 1px solid #D0D5DD;
    background: #004FE5;
    cursor: pointer;
    font-family: 'Poppins';
    color: white;
}

.pager button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.not_found{
    color: #FD7847;
    font-weight: 800;
    margin-top: 2rem;
    font-size: 2rem;
}

.loading{
    color: #FD7847;
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 800;
}

@media (max-width: 820px) {
.grid{
    display: grid;
    grid-template-columns: repeat(2, 42vw);
}

.avatar{
    height: 30vw;
}

}