<section class="container">
  <h1>Users</h1>

<ng-container *ngIf="searchId() as s; else paged">

  <div *ngIf="isSearching()" class="loading">Loading…</div>

<div class="grid" *ngIf="!isSearching() && searchedUser()">
    <a class="card" [routerLink]="['/users', searchedUser()!.id]">
      <img class="avatar" [src]="searchedUser()!.avatar" [alt]="searchedUser()!.first_name" />
      <div class="name">{{ searchedUser()!.first_name }} {{ searchedUser()!.last_name }}</div>
      <div class="meta">ID: {{ searchedUser()!.id }}</div>
    </a>
  </div>

  
    <div *ngIf="searchFailed()" class="not_found">No User was found, search another ID</div>

</ng-container>

<ng-template #paged>
  <ng-container *ngIf="(userPage$() | async) as res">
  <div class="grid">
    <a class="card" *ngFor="let u of res.data" [routerLink]="['/users', u.id]">
      <img class="avatar" [src]="u.avatar" [alt]="u.first_name" />
      <div class="name">{{ u.first_name }} {{ u.last_name }}</div>
      <div class="meta">ID: {{ u.id }}</div>
    </a>
  </div>

  <div class="pager">
    <button (click)="prev()" [disabled]="res.page === 1">Prev</button>
    <div class="meta">Page {{ res.page }} / {{ res.total_pages }}</div>
    <button (click)="next(res.total_pages)" [disabled]="res.page === res.total_pages">
      Next
    </button>
  </div>
  </ng-container>
</ng-template>
</section>