.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 3rem;
    background-color: #EEF5FF;
    margin: 0 1rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.header_logo{
    width: 10vw;
}

.search input{
    border: 0.5px solid #D0D5DD;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    height: fit-content;
}

.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
}

.buttons button{
    background-color: transparent;
    border: 0;
    color: #004FE5;
    cursor: pointer;
}

@media (max-width: 820px) {

    .header{
    padding: 1rem 1rem;
}

.header_logo{
    width: 25vw;
}

.search input{
    border: 0.5px solid #D0D5DD;
    padding: 0.75rem 0.75rem;
    border-radius: 0.5rem;
    font-size: 0.7rem;
    height: fit-content;
    width: 30%;
}

.search{
    justify-content: flex-end;
}
}