.container{
    max-width: 100%;
    margin: 2rem 0;
    padding: 0 2rem;
}

.back{
    padding: 0.75rem 1.25rem;
    border-radius: 0.5rem;
    border: 1px solid #D0D5DD;
    background: #004FE5;
    cursor: pointer;
    color: white;
    margin-bottom: 1rem;
    transition: transform 100ms ease, box-shadow 100ms ease;
    font-family: 'Poppins';
    
}

.back:hover{
    transform: translateY(-0.2rem);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.card{
    display: grid;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid #D0D5DD;
    background: #EEF5FF;
    transition: transform 100ms ease, box-shadow 100ms ease;
    margin: 0 auto;
    width: 20vw;
}

.avatar{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1rem;
    border: 0.5px solid #D0D5DD;
}

.name{
    font-weight: 800;
    font-size: 2rem;
    padding: 1rem 0 1rem 0;
}

.meta{
    font-size: 1.25rem;
    color: black;
}

.meta_data{
    display: flex;
    flex-direction: column;
    gap: 0rem;
    padding: 1rem;
}

@media (max-width: 820px) {

.avatar{
    height: 60vw;
}

.card{
    margin: 0 auto;
    margin-top: 2rem;
    width: max-content;
}

}